.sidebar-container {
    background: linear-gradient(var(--purple-01), var(--purple-03));
    position: fixed;
    left: 0;
    top: 0;
    width: 56px;
    height: 100vh;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    button {
        margin-bottom: 1rem;
        background-color: transparent;
        border: none;
        color: var(--white);
        cursor: pointer;
    }
}