.poltrona-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(var(--purple-01), var(--purple-03));
    color: white;
  
    h1 {
      font-size: 28px;
      margin-top: 2rem;
    }
  
    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--purple-05);
      border-radius: 15px;
      padding: 20px 30px;
      width: 100%;
      max-width: 600px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  
      .screen {
        background-color: #000;
        color: white;
        font-size: 16px; /* Reduzi o tamanho da fonte */
        font-weight: bold;
        text-align: center;
        width: 80%; /* Reduz a largura da barra */
        padding: 7px 0; /* Reduz a altura */
        border-radius: 10px;
        margin-bottom: 20px;
      }
  
      .seats-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 8px;
        margin: -12px;
  
        .seat {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 45px;
          background-color: #000; /* Fundo preto */
          border-radius: 5px;
          cursor: pointer;
          transition: transform 0.2s ease, background-color 0.2s ease;
  
          &.vip {
            background-color: gold;
            color: white;
          }
  
          &.occupied {
            background-color: red;
            color: white;
            cursor: not-allowed;
          }
  
          &.selected {
            background-color: #4caf50;
            color: white;
          }
  
          &:hover:not(.occupied) {
            transform: scale(1.1);
          }
  
          svg {
            font-size: 24px;
            margin-bottom: 5px;
          }
  
          span {
            font-size: 10px;
            font-weight: bold;
          }
        }
      }
    }
  
    .footer {
      display: flex;
      justify-content: space-between; /* Alinha botões às extremidades */
      align-items: center;
      width: 100%; /* O rodapé ocupa toda a largura */
      max-width: 600px;
      margin-top: 20px;
  
      .back-button {
        background-color: #a346ff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 7px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-left: -18rem;
  
        &:hover {
          background-color: #7d1fbf;
          color: white;
        }
      }
  
      .next-button {
        background-color: #a346ff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 7px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-top: -3.9rem;
        margin-right: -19rem;
  
        &:hover {
          background-color: #7d1fbf;
          color: white;
        }
      }
  
      span {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-top: -4rem;
      }
    }
  }
  